#team
{
	margin-top: 10%;
}
#team img
{
	width:30%;
	height: 30%;
}
/*
#page2-inner-cover
{
	 background-color:black; 
	 opacity:.3;
	 -moz-border-bottom-right-radius: 10px;
	 -moz-border-bottom-left-radius: 10px;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.5);
	box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}*/